@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


.row{
    margin-left: 0px;
    margin-right: 0px;
}
body{
    background-color: $grey-bg-color;
    font-family:'Roboto', sans-serif;
}
#header{
    background-color: $text-white;
    position: fixed;
    right: 0px;
    left: 0px;
    z-index: 1000;
    top: 0;
    border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    -ms-border-radius: 4px 4px 0 0;
    -o-border-radius: 4px 4px 0 0;
    nav{
        .logo-img{
            // width: 200px;
            width : 160px;
        }
        .upload-btn{
            background-color: $primary-color;
            border-radius: 15px;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            -ms-border-radius: 15px;
            -o-border-radius: 15px;
            font-weight: 700;
            font-style: normal;
            font-size: 18px;
            display: flex;
            justify-self: center;
            align-items: center;
            text-transform: uppercase;
            color: $text-white;
            line-height: 20px;
            padding: 10px 20px;
            border-color: transparent;
            &:active,&:hover{
                border-color: transparent;
            }
            &:focus{
                box-shadow: none;
            }
            @media(max-width: 575px){
                font-size: 16px;
                margin : 10px auto;
            }
            @media(min-width:576px) and (max-width: 1400px){
                font-size: 14px;
            }
        }
        
        
        .basic-details{
            display: flex;
            align-items: center;
            background-color: #F8F8F8;
            border-radius: 15px;
            box-sizing: border-box;
            border: 1px solid #E4E3F2;
            padding : 2px 20px;
            .city-select,.medicine-search-box{
                /* for Firefox */
               -moz-appearance: none;
               /* for Chrome */
               -webkit-appearance: none;
               background-color: transparent;
               border: none;
               width: 100%;
               color : $text-grey;
               opacity: 0.6;
               &:hover{
                   cursor: pointer;
               }
           }
           .mappin-icon{
               position: absolute;
               left:-10px
           }
           .location-icon,.search-icon{
               position: absolute;
               right: 0px;
           }
           .city-select{
               position: relative;
           }
           .medicine-search-box{
               &:focus{
                   box-shadow: none;
               }
               overflow: hidden;
               text-overflow: ellipsis;
           }
           @media(max-width: 575px){
               display: block;
               padding: 10px 0px 10px 14px;
               .separator-black{
                   display: none;
               }
               .form-inline{
                   padding: 0;
               }
               .location-icon,.search-icon{
                   right: 5px;
               }
               .medicine-search-box{
                   text-overflow: ellipsis;
                   overflow: hidden;
                   &::-moz-placeholder,&::-webkit-input-placeholder{
                        text-overflow: ellipsis;
                   }
                   padding-bottom: 0px;
               }
           }
        }
    }
    #basic-navbar-nav{
        &.collapse{
            &.show{
                @media(min-width: 576px) and (max-width: 1200px){
                    display: flex;
                    .city-select,.medicine-search-box{
                        text-overflow: ellipsis;
                        overflow: hidden;
                        &::-moz-placeholder,&::-webkit-input-placeholder{
                            text-overflow: ellipsis;
                       }
                    }
                    .location-icon,.search-icon{
                        right: 1px;
                    }
                }
            }
        }
    }
}
.help-sec{
    display: flex;
    align-items: center;
    .help-option{
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 21px;
    }
}
.text-grey{
    color: $text-grey;
}
.separator-grey{
    border : 1px solid #BBBAC1;
    height: 28px;
}
.separator-black{
    border : 1px solid $black;
    height: 28px;
}
.movable-header{
    background-color: $white-bg;
    //margin-top:98px;
    margin-top:85px;
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    -ms-border-radius: 0 0 4px 4px;
    -o-border-radius: 0 0 4px 4px;
    .separator-header-sec{
        border-bottom: 1px solid #DBDEDF;
        .for-small-mobile-dev{
            @media(max-width: 575px){
                margin :12px 0px;
                .separator-black{
                    display: none;
                }
            }
            @media(max-width: 448px){
                .for-xs-position-login,.for-xs-position-cart{
                    margin :5px 0px 5px 0px !important;
                }
            }
        }
    }
    .user-optionality{
        display: flex ;
        // justify-content: space-evenly;
        justify-content: space-between;
        align-items: center;
        @media(max-width: 993px){
            display: unset;
        }
    }
    .options{
        display: flex;
        align-items: center;
        margin : 0px 3px;
        // .option-bg{
        //     width: 55px;
        //     height: 55px;
        //     border-radius: 50%;
        //     display: flex ;
        //     justify-content: center;
        //     align-items: center;
        //     &.bg-1{
        //         background-color: $primary-color;
        //     }
        //     &.bg-2{
        //         background-color: $secondary-color;
        //     }
        //     &.bg-3{
        //         background-color: #E317CB;
        //     }
        //     &.bg-4{
        //         background-color:#E3BC17;
        //     }
        // }
        .option-heading{
            color : $text-grey;
            font-weight: bold;
            font-size: 18px;
            font-style: normal;
            line-height: 21px;
            @media(max-width: 575px){
                font-size: 16px;
            }
        }
        @media(max-width: 993px){
            padding : 10px 0px 10px 0px;
        }
    }
    .shadowing{
        // box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
        box-shadow: 0px 4px 16px rgba(51, 79, 109, 0.12);
    }
}

.footer-section{
    background-color: #343434;
    .logo-img{
        width :200px;
    }
    .company-desc{
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        text-align: justify;
        color: #F4F4FE;
    }
    .footer-link-heading{
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 26px;
        text-transform: capitalize;
        color: $white;
    }
    .footer-link{
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: #E1DDDD;
    }
    ul{
        li{
            list-style: none;
            margin:10px 0px;
        }
    }
    .social-media{
        display: flex ;
        justify-content: center;
        align-items: center;
        &:before{
            content: '';
            width: 35px;
            height: 35px;
            display: block;
            border: 1px solid #68696A;
            border-radius: 50%;
            position: absolute;
        }
    }
    .footer-separator{
        opacity: 0.3;
        border: 1px solid $white;
    }
    .rights{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 21px;
        color: $white;
        opacity: 0.6;
    }
    .for-md-dev{
        @media(min-width: 767px) and (max-width:1201px){
            flex-direction: column;
            .adjustable-width{
                max-width: unset;
            }
        }
    }
}

.chat-btn{
    position: fixed;
    display: block;
    width: 65px;
    height: 65px;
    background:$primary-color;
    right: 15px;
    bottom: 15px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}